<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>About Us</title>
    <script src="about_files/jquery-3.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="about_files/popper.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="about_files/bootstrap.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="about_files/bootstrap.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/png" href="https://www.pythonanywhere.com/Images/debatewatch%20favicon.png">
<style>
    body{
        background: #eef0ee;
    }
    @media(min-width:768px){
            .container-1{
        display:flex;
        justify-content: center;
        font-family: normal Tahoma,serif;
    }
    }

    .container-1 div{
        border:1px #ccc solid;
        padding:10px;
    }
    .varun{

     }
    .tarun{

    }
    .ritvik{

    }
    .sid{

    }
    .indented
    {
    padding-left: 50pt;
    padding-right: 50pt;
     text-indent:40px
    }

</style></head>

<body data-new-gr-c-s-check-loaded="8.872.0" data-gr-ext-installed="">
<header>
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #a3c2d2;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Public Forum</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.thedebatewatch.com/18pf">2018-2019</a>
                    <a class="dropdown-item" href="https://www.thedebatewatch.com/">2019-2020</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.thedebatewatch.com/19bidlist">PF Bid List</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Lincoln Douglas</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.thedebatewatch.com/ld">2018-2019</a>
                    <a class="dropdown-item" href="https://www.thedebatewatch.com/19ld">2019-2020</a>
                </div>
            </li>

        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#"><img src="about_files/DebateWatch2.html"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.thedebatewatch.com/about">About Us</a>
            </li>
        </ul>
    </div>
</nav>
</header>
<br>
<div class="container-1">
    <div class="tarun">
        <h3>Tarun Trivedi</h3>
        <p></p>
    </div>
    <div class="varun">
        <h3>Varun Sarabudla</h3>
        <p></p>
    </div>
    <div class="ritvik">
        <h3>Ritvik Chandrashekhar</h3>
        <p></p>
    </div>
        <div class="sid">
        <h3>Siddarth Inta</h3>
        <p></p>
    </div>
</div>
<br>
<p class="indented">
    DebateWatch is a website designed to make national tournament 
records for high school debaters more accessible. Created by 4 friends 
at Bridgewater-Raritan High School, the website was born out of what the
 four founders felt was an essential need for the debate community that 
had not yet been filled. The backend is programmed in Python, featuring 
DebateWatch’s proprietary algorithm which enables it to scrape locally 
stored tournament data and bring it to users' fingertips within seconds.
 The Python application is deployed via pythonanywhere.com and uses 
Flask, a web application framework, to facilitate interaction between 
the frontend and backend. The algorithm itself efficiently analyzes 
tabroom.com, a website that stores raw data for debaters. It is able to 
output all necessary information about a singular debater or 
partnership, acting as a hub of historical records.
</p>
<br>
<p class="indented">
    With over 20,000 hits in just one month, the site has quickly gained
 traction within the debate sphere. The site includes records for both 
Public Forum and Lincoln Douglas debate, ensuring that competitors from 
all categories are represented. The site also features the premier bid 
list for Public Forum debate, with timely updates and a thorough record 
of Gold, Silver, and Single Silver bid teams. It is for this reason that
 users have called DebateWatch the “total package” when it comes to 
accessing data from debate tournaments. If you have any questions about 
our service, contact us at thedebatewatch@gmail.com.
</p>

</body></html>