<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Songster</title>
    <style type="text/css">
          ol { list-style-type: none }
     </style>
     <style>    body{
        background: #eef0ee;
        }
    </style>
       <script src="return_files/jquery-3.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="return_files/popper.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="return_files/bootstrap.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="return_files/bootstrap.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/png" href="https://www.pythonanywhere.com/Images/debatewatch%20favicon.png">
</head>
<body data-new-gr-c-s-check-loaded="8.872.0" data-gr-ext-installed="">

    <h1>{{ artist }} Generated Lyrics</h1>
    <h1> Based off {{ limit }} Songs </h1>
    <font size="5" color="black"> {{ lyrics }} </font>

</body>
</html>